<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hes_so.visualisationdeflux" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyDKymeBXNeiFWY5jRUejv6zItpmr2MVyQ0" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Details_Alerte"
            android:label="@string/title_activity_main3"
            android:parentActivityName=".Accuiel" >
        </activity>
        <activity
            android:name=".Nouveau_message"
            android:label="@string/title_activity_main4"
            android:parentActivityName=".Accuiel" >
        </activity>
        <activity
            android:name=".LogIn"
            android:label="@string/title_activity_main5"
            android:parentActivityName=".Accuiel" >
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/title_activity_main0"
            android:parentActivityName=".Accuiel" >
        </activity>
        <activity
            android:name=".Admin_Map"
            android:label="@string/title_activity_main6" >
        </activity>
        <activity
            android:name=".Add_Zone_Description"
            android:label="@string/title_activity_main7"
            android:parentActivityName=".Admin_Map" >
        </activity>
        <activity
            android:name=".Add_Zone_Map"
            android:label="@string/title_activity_main8"
            android:parentActivityName=".Add_Zone_Description"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <activity
            android:name=".Flow_details"
            android:label="@string/title_activity_main9"
            android:parentActivityName=".Admin_Map" >
        </activity>
        <activity
            android:name=".New_Alerte_Admin"
            android:label="@string/title_activity_main10"
            android:parentActivityName=".Flow_details" >
        </activity>
        <activity
            android:name=".Push_alerte"
            android:label="@string/title_activity_main11"
            android:parentActivityName=".Flow_details" >
        </activity>
        <activity
            android:name=".Accuiel"
            android:label="@string/title_activity_accuiel" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA6mS6BJy89Sgkj1GCgRrusQ84p_T5hLEA" />
    </application>

</manifest>
